@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
}

#root {
    background-color: #0B2434;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
    padding: 30px;
    margin: 30px 20px;
}

.App {
    min-width: 380px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F5;
    border-radius: 10px;
}

.tenzie {
    width: 230px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px
}

.tenzie>p:first-child {
    font-weight: 700;
    font-size: 25.6px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #2B283A
}

.tenzie>p:last-child {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13.1072px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.03em;

    color: #4A4E74;
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 36px);
    grid-template-rows: 36px 36px;
    gap: 18px;

}

.die {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
    font-weight: 700;
    font-size: 20.5889px;
    line-height: 24px;
    text-align: center;
    color: #2B283A;
}

.held {
    background: #59E391;
}

.unheld {
    background-color: #FFFFFF;
}

button {
    width: 95px;
    height: 40px;
    margin: 40px;
    font-weight: 700;
    font-size: 16.384px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background: #5035FF;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 3.81277px;
}